<!doctype html>
<html>
  <head>
    <title>Halaman Gambar</title>
  </head>
  <body>
    <h1>Halaman Gambar</h1>
    
    <div class="table">
      {% for satuData in semuaData %}
        <div class="row">
          <div class="column">
            <img src="data:image/png;base64,{{ satuData[0] }}" />
          </div>
          <div class="column">
            <p>{{ satuData[1] }}</p>
          </div>
          <div class="column">
            {{ satuData[2] }}
          </div>
          <div class="column">
            {{ satuData[3] }}
          </div>
        </div>
      {% endfor %}
    </div>
    
  </body>
</html>
