<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="style2.css">
</head>
<body>
<header>
  <a href="#" class="logo"><i class="fas fa-trash"></i>waste.</a>
  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#keranjang">keranjang</a>
    <a href="#order">order</a>
    <a href="#barang">barang</a>
    <a href="#review">review</a>
    <a href="#about">about</a>
  </nav>
  <div class="icons">
    <i class="fas fa-bars" id="menu-bars"></i>
    <i class="fas fa-search" id="search-icon"></i>
    <a href="#" class="fas fa-heart"></a>
    <a href="#" class="fas fa-shopping-cart"></a>
  </div>
</header>

<form action="" id="search-form">
  <input type="search" placeholder="Type Here" name="" id="search-box">
  <label for="search-box" class="fas fa-search"></label>
  <i class="fas fa-times" id="close"></i>
</form>
<!-- home section start -->
<section class="home" id="home">
  <div class="container">
    <div class="wrapper">
      <div class="slide">
        <div class="content">
          <span>barang special hari ini</span>
          <h3>Computer bekas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iure maxime deserunt porro corrupti non vero ipsam? Eveniet velit pariatur minus quasi magnam fuga aperiam, incidunt voluptas officia. Error, atque.</p>
          <a href="#" class="btn"></a>
        </div>
        <div class="image">
          <img src="/asset/foto 1.jpg" alt="">
        </div>
      </div>
      <div class="slide">
        <div class="content">
          <span>barang special hari ini</span>
          <h3>Computer bekas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium iure maxime deserunt porro corrupti non vero ipsam? Eveniet velit pariatur minus quasi magnam fuga aperiam, incidunt voluptas officia. Error, atque.</p>
          <a href="#" class="btn"></a>
        </div>
        <div class="image">
          <img src="/asset/foto 1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- home section end -->


<script src="/static/script.js"></script>
</body>
</html>